@font-face {
  font-family: 'icomoonUnieuro';
  src:  url('fonts/icomoonUnieuro.eot?y0qfx5');
  src:  url('fonts/icomoonUnieuro.eot?y0qfx5#iefix') format('embedded-opentype'),
    url('fonts/icomoonUnieuro.ttf?y0qfx5') format('truetype'),
    url('fonts/icomoonUnieuro.woff?y0qfx5') format('woff'),
    url('fonts/icomoonUnieuro.svg?y0qfx5#icomoonUnieuro') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoonUnieuro' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-twitter-svgrepo-com:before {
  content: "\e900";
}
.icon-stars0:before {
  content: "\e901";
}
.icon-stars1:before {
  content: "\e902";
}
.icon-stars2:before {
  content: "\e903";
}
.icon-stars3:before {
  content: "\e904";
}
.icon-stars4:before {
  content: "\e905";
}
.icon-stars5:before {
  content: "\e906";
}
.icon-stars6:before {
  content: "\e907";
}
.icon-stars7:before {
  content: "\e908";
}
.icon-stars8:before {
  content: "\e909";
}
.icon-stars9:before {
  content: "\e90a";
}
.icon-stars10:before {
  content: "\e90b";
}
.icon-accessories:before {
  content: "\e90c";
}
.icon-account:before {
  content: "\e90d";
}
.icon-arrow-down:before {
  content: "\e90e";
}
.icon-arrow-left:before {
  content: "\e90f";
}
.icon-arrow-right:before {
  content: "\e910";
}
.icon-arrow-up:before {
  content: "\e911";
}
.icon-assistance:before {
  content: "\e912";
}
.icon-cartlisting:before {
  content: "\e913";
}
.icon-check:before {
  content: "\e914";
}
.icon-close:before {
  content: "\e915";
}
.icon-club2:before {
  content: "\e916";
}
.icon-compare:before {
  content: "\e917";
}
.icon-delivery:before {
  content: "\e918";
}
.icon-description:before {
  content: "\e919";
}
.icon-dimensions:before {
  content: "\e91a";
}
.icon-g-unicard:before {
  content: "\e91b";
}
.icon-features:before {
  content: "\e91c";
}
.icon-gallery:before {
  content: "\e91d";
}
.icon-google-plus:before {
  content: "\e91e";
}
.icon-less:before {
  content: "\e91f";
}
.icon-locator:before {
  content: "\e920";
}
.icon-menu:before {
  content: "\e921";
}
.icon-newsletter:before {
  content: "\e922";
}
.icon-payment:before {
  content: "\e923";
}
.icon-pickup:before {
  content: "\e924";
}
.icon-pinterest:before {
  content: "\e925";
}
.icon-play:before {
  content: "\e926";
}
.icon-printer:before {
  content: "\e927";
}
.icon-question-mark:before {
  content: "\e928";
}
.icon-reevoo:before {
  content: "\e929";
}
.icon-review:before {
  content: "\e92a";
}
.icon-search:before {
  content: "\e92b";
}
.icon-share:before {
  content: "\e92c";
}
.icon-specifications:before {
  content: "\e92d";
}
.icon-store:before {
  content: "\e92e";
}
.icon-note:before {
  content: "\e92f";
}
.icon-wishlist:before {
  content: "\e930";
}
.icon-arrow-back:before {
  content: "\e931";
}
.icon-zoom-in:before {
  content: "\e932";
}
.icon-zoom-out:before {
  content: "\e933";
}
.icon-box:before {
  content: "\e934";
}
.icon-services:before {
  content: "\e935";
}
.icon-faq:before {
  content: "\e936";
}
.icon-time:before {
  content: "\e937";
}
.icon-notification:before {
  content: "\e938";
}
.icon-delete:before {
  content: "\e939";
}
.icon-geoloc:before {
  content: "\e93a";
}
.icon-holidays:before {
  content: "\e93b";
}
.icon-locator-start:before {
  content: "\e93c";
}
.icon-ritiro:before {
  content: "\e93d";
}
.icon-less-circle:before {
  content: "\e93e";
}
.icon-add-circle:before {
  content: "\e93f";
}
.icon-delivery-truck:before {
  content: "\e940";
}
.icon-locator-A:before {
  content: "\e941";
}
.icon-locator-B:before {
  content: "\e942";
}
.icon-image:before {
  content: "\e943";
}
.icon-map:before {
  content: "\e944";
}
.icon-cuore:before {
  content: "\e945";
}
.icon-edit:before {
  content: "\e946";
}
.icon-club:before {
  content: "\e947";
}
.icon-package:before {
  content: "\e948";
}
.icon-club01:before {
  content: "\e949";
}
.icon-club02:before {
  content: "\e94a";
}
.icon-club03:before {
  content: "\e94b";
}
.icon-club04:before {
  content: "\e94c";
}
.icon-club05:before {
  content: "\e94d";
}
.icon-club06:before {
  content: "\e94e";
}
.icon-service:before {
  content: "\e94f";
}
.icon-club07:before {
  content: "\e950";
}
.icon-club08:before {
  content: "\e951";
}
.icon-club09:before {
  content: "\e952";
}
.icon-club10:before {
  content: "\e953";
}
.icon-club15:before {
  content: "\e954";
}
.icon-club13:before {
  content: "\e955";
}
.icon-tag_1:before {
  content: "\e956";
}
.icon-club12:before {
  content: "\e957";
}
.icon-information:before {
  content: "\e958";
}
.icon-club14:before {
  content: "\e959";
}
.icon-finanziamento:before {
  content: "\e95a";
}
.icon-reso-recesso:before {
  content: "\e95b";
}
.icon-installazioneservizi:before {
  content: "\e95c";
}
.icon-estensione-garanzia:before {
  content: "\e95d";
}
.icon-consegna-domicilio:before {
  content: "\e95e";
}
.icon-flag:before {
  content: "\e95f";
}
.icon-flagged:before {
  content: "\e960";
}
.icon-icon-consegna-1:before {
  content: "\e961";
}
.icon-icon-consegna-2:before {
  content: "\e962";
}
.icon-icon-consegna-3:before {
  content: "\e963";
}
.icon-icon-consegna-4:before {
  content: "\e964";
}
.icon-icon-consegna-5:before {
  content: "\e965";
}
.icon-icon-indirizzi-star-empty:before {
  content: "\e966";
}
.icon-icon-indirizzi-star:before {
  content: "\e967";
}
.icon-icon-negozio:before {
  content: "\e968";
}
.icon-icon-domicilio:before {
  content: "\e969";
}
.icon-icon-intro-indirizzi:before {
  content: "\e96a";
}
.icon-cart-v2:before {
  content: "\e96b";
}
.icon-icon-consegna-0:before {
  content: "\e96c";
}
.icon-icon-details:before {
  content: "\e96d";
}
.icon-uniE96D:before {
  content: "\e96e";
}
.icon-uniE96E:before {
  content: "\e96f";
}
.icon-uniE96F:before {
  content: "\e970";
}
.icon-uniE970:before {
  content: "\e971";
}
.icon-uniE971:before {
  content: "\e972";
}
.icon-uniE972:before {
  content: "\e973";
}
.icon-uniE973:before {
  content: "\e974";
}
.icon-icon-share:before {
  content: "\e975";
}
.icon-icon-promo:before {
  content: "\e976";
}
.icon-icon-credit-card:before {
  content: "\e977";
}
.icon-logo-backround:before {
  content: "\e978";
}
.icon-click_and_drive:before {
  content: "\e979";
}
.icon-logo_AUTOritiro:before {
  content: "\e97a";
}
.icon-uniE97B:before {
  content: "\e97b";
}
.icon-uniE97C:before {
  content: "\e97c";
}
.icon-uniE97D:before {
  content: "\e97d";
}
.icon-uniE97E:before {
  content: "\e97e";
}
.icon-uniE97F:before {
  content: "\e97f";
}
.icon-uniE980:before {
  content: "\e980";
}
.icon-uniE981:before {
  content: "\e981";
}
.icon-uniE982:before {
  content: "\e982";
}
.icon-uniE983:before {
  content: "\e983";
}
.icon-uniE984:before {
  content: "\e984";
}
.icon-uniE985:before {
  content: "\e985";
}
.icon-uniE986:before {
  content: "\e986";
}
.icon-uniE987:before {
  content: "\e987";
}
.icon-uniE988:before {
  content: "\e988";
}
.icon-uniE989:before {
  content: "\e989";
}
.icon-uniE98A:before {
  content: "\e98a";
}
.icon-uniE98B:before {
  content: "\e98b";
}
.icon-uniE98C:before {
  content: "\e98c";
}
.icon-uniE98D:before {
  content: "\e98d";
}
.icon-uniE98E:before {
  content: "\e98e";
}
.icon-uniE98F:before {
  content: "\e98f";
}
.icon-uniE990:before {
  content: "\e990";
}
.icon-uniE991:before {
  content: "\e991";
}
.icon-uniE992:before {
  content: "\e992";
}
.icon-uniE993:before {
  content: "\e993";
}
.icon-uniE994:before {
  content: "\e994";
}
.icon-uniE995:before {
  content: "\e995";
}
.icon-uniE996:before {
  content: "\e996";
}
.icon-uniE997:before {
  content: "\e997";
}
.icon-uniE998:before {
  content: "\e998";
}
.icon-uniE999:before {
  content: "\e999";
}
.icon-uniE99A:before {
  content: "\e99a";
}
.icon-uniE99B:before {
  content: "\e99b";
}
.icon-uniE99C:before {
  content: "\e99c";
}
.icon-uniE99D:before {
  content: "\e99d";
}
.icon-inactive:before {
  content: "\e99e";
}
.icon-uniE99F:before {
  content: "\e99f";
}
.icon-uniE9A0:before {
  content: "\e9a0";
}
.icon-uniE9A1:before {
  content: "\e9a1";
}
.icon-uniE9A2:before {
  content: "\e9a2";
}
.icon-inactive1:before {
  content: "\e9a3";
}
.icon-uniE9A4:before {
  content: "\e9a4";
}
.icon-uniE9A5:before {
  content: "\e9a5";
}
.icon-uniE9A6:before {
  content: "\e9a6";
}
.icon-uniE9A7:before {
  content: "\e9a7";
}
.icon-uniE9A8:before {
  content: "\e9a8";
}
.icon-uniE9A9:before {
  content: "\e9a9";
}
.icon-uniE9AA:before {
  content: "\e9aa";
}
.icon-uniE9AB:before {
  content: "\e9ab";
}
.icon-uniE9AC:before {
  content: "\e9ac";
}
.icon-inactive2:before {
  content: "\e9ad";
}
.icon-uniE9AE:before {
  content: "\e9ae";
}
.icon-uniE9AF:before {
  content: "\e9af";
}
.icon-uniE9B0:before {
  content: "\e9b0";
}
.icon-uniE9B1:before {
  content: "\e9b1";
}
.icon-uniE9B2:before {
  content: "\e9b2";
}
.icon-inactive3:before {
  content: "\e9b3";
}
.icon-blue:before {
  content: "\e9b4";
}
.icon-white:before {
  content: "\e9b5";
}
.icon-menu1:before {
  content: "\e9b6";
}
.icon-uniE9B7:before {
  content: "\e9b7";
}
.icon-uniE9B8:before {
  content: "\e9b8";
}
.icon-star:before {
  content: "\e9b9";
}
.icon-icon-d-utility-simple-trend-anthracite-25-x-251:before {
  content: "\e9ba";
}
.icon-Delete:before {
  content: "\e9bb";
}
.icon-element-m-icon-header-menu-white:before {
  content: "\e9bc";
}
.icon-element-m-icon-header-store-locator-white:before {
  content: "\e9bd";
}
.icon-icon-d-utility-simple-myaccount-anthracite-25-x-25:before {
  content: "\e9be";
}
.icon-Results:before {
  content: "\e9bf";
}
.icon-cart:before {
  content: "\e9c0";
}
.icon-cuore1:before {
  content: "\e9c1";
}
.icon-esplora:before {
  content: "\e9c2";
}
.icon-profile:before {
  content: "\e9c3";
}
.icon-promo:before {
  content: "\e9c4";
}
.icon-white1:before {
  content: "\e9c5";
}
.icon-uniE9C6:before {
  content: "\e9c6";
}
.icon-reso:before {
  content: "\e9c7";
}
.icon-uniE9C8:before {
  content: "\e9c8";
}
.icon-locator1:before {
  content: "\e9c9";
}
.icon-icon-24-px-social-facebook-anthracite:before {
  content: "\e9ca";
}
.icon-icon-24-px-social-instagram-anthracite:before {
  content: "\e9cb";
}
.icon-icon-24-px-social-twitter-anthracite:before {
  content: "\e9cc";
}
.icon-compare1:before {
  content: "\e9cd";
}
.icon-icon-color-alert:before {
  content: "\e9ce";
}
.icon-icon-flag-white-big:before {
  content: "\e9cf";
}
.icon-uniE9D0:before {
  content: "\e9d0";
}
.icon-uniE9D1:before {
  content: "\e9d1";
}
.icon-10:before {
  content: "\e9d2";
}
.icon-inactive4:before {
  content: "\e9d3";
}
.icon-white2:before {
  content: "\e9d4";
}
.icon-icon-24-px-social-youtube-anthracite:before {
  content: "\e9d5";
}
.icon-uniE9D6:before {
  content: "\e9d6";
}
.icon-uniE9D7:before {
  content: "\e9d7";
}
.icon-icon-24-px-look-anthracite:before {
  content: "\e9d8";
}
.icon-servizi:before {
  content: "\e9d9";
}
.icon-servizi1:before {
  content: "\e9da";
}
.icon-servizi2:before {
  content: "\e9db";
}
.icon-servizi3:before {
  content: "\e9dc";
}
.icon-servizi4:before {
  content: "\e9dd";
}
.icon-servizi5:before {
  content: "\e9de";
}
.icon-light_services:before {
  content: "\e9df";
}
.icon-showmore:before {
  content: "\e9e0";
}
.icon-icon:before {
  content: "\e9e1";
}
.icon-inactive5:before {
  content: "\e9e2";
}
.icon-EsclusivaUnieuro:before {
  content: "\e9e3";
}
.icon-uniE9E4:before {
  content: "\e9e4";
}
.icon-uniE9E5:before {
  content: "\e9e5";
}
.icon-uniE9E6:before {
  content: "\e9e6";
}
.icon-uniE9E7:before {
  content: "\e9e7";
}
.icon-uniE9E8:before {
  content: "\e9e8";
}
.icon-OffertaVolantino:before {
  content: "\e9e9";
}
.icon-Preorder:before {
  content: "\e9ea";
}
.icon-SoloOnline:before {
  content: "\e9eb";
}
.icon-uniE9EC:before {
  content: "\e9ec";
}
.icon-uniE9ED:before {
  content: "\e9ed";
}
.icon-uniE9EE:before {
  content: "\e9ee";
}
.icon-uniE9EF:before {
  content: "\e9ef";
}
.icon-uniE9F0:before {
  content: "\e9f0";
}
.icon-uniE9F1:before {
  content: "\e9f1";
}
.icon-uniE9F2:before {
  content: "\e9f2";
}
.icon-uniE9F3:before {
  content: "\e9f3";
}
.icon-uniE9F4:before {
  content: "\e9f4";
}
.icon-uniE9F5:before {
  content: "\e9f5";
}
.icon-uniE9F6:before {
  content: "\e9f6";
}
.icon-uniE9F7:before {
  content: "\e9f7";
}
.icon-uniE9F8:before {
  content: "\e9f8";
}
.icon-uniE9F9:before {
  content: "\e9f9";
}
.icon-uniE9FA:before {
  content: "\e9fa";
}
.icon-uniE9FB:before {
  content: "\e9fb";
}
.icon-uniE9FC:before {
  content: "\e9fc";
}
.icon-uniE9FD:before {
  content: "\e9fd";
}
.icon-uniE9FE:before {
  content: "\e9fe";
}
.icon-uniE9FF:before {
  content: "\e9ff";
}
.icon-uniEA00:before {
  content: "\ea00";
}
.icon-uniEA01:before {
  content: "\ea01";
}
.icon-AltriFiltri:before {
  content: "\ea02";
}
.icon-Categorie:before {
  content: "\ea03";
}
.icon-icon1:before {
  content: "\ea04";
}
.icon-Marca:before {
  content: "\ea05";
}
.icon-Prezzo:before {
  content: "\ea06";
}
.icon-profile1:before {
  content: "\ea07";
}
.icon-icon2:before {
  content: "\ea08";
}
.icon-shape:before {
  content: "\ea09";
}
.icon-shipping:before {
  content: "\ea0a";
}
.icon-icon3:before {
  content: "\ea0b";
}
.icon-left-blue:before {
  content: "\ea0c";
}
.icon-left-blue1:before {
  content: "\ea0d";
}
.icon-add:before {
  content: "\ea0e";
}
.icon-icon-16-px-modify:before {
  content: "\ea0f";
}
.icon-path-2:before {
  content: "\ea10";
}
.icon-icon4:before {
  content: "\ea11";
}
.icon-icon5:before {
  content: "\ea12";
}
.icon-icon11:before {
  content: "\ea13";
}
.icon-icon21:before {
  content: "\ea14";
}
.icon-icon31:before {
  content: "\ea15";
}
.icon-favorite:before {
  content: "\ea16";
}
.icon-icon-flag-blue:before {
  content: "\ea17";
}
.icon-d-01:before {
  content: "\ea18";
}
.icon-eye:before {
  content: "\ea19";
}
.icon-d-011:before {
  content: "\ea1a";
}
.icon-uniEA1B:before {
  content: "\ea1b";
}
.icon-uniEA1C:before {
  content: "\ea1c";
}
.icon-order:before {
  content: "\ea1d";
}
.icon-availability:before {
  content: "\ea1e";
}
.icon-iconprice:before {
  content: "\ea1f";
}
.icon-assistenzaAggiuntiva:before {
  content: "\ea20";
}
.icon-service-allaccio:before {
  content: "\ea21";
}
.icon-service-installazione-incasso:before {
  content: "\ea22";
}
.icon-service-installazione-muro:before {
  content: "\ea23";
}
.icon-service-installazione-tecnico:before {
  content: "\ea24";
}
.icon-service-raee:before {
  content: "\ea25";
}
.icon-service-spese-aggiuntive:before {
  content: "\ea26";
}
.icon-icon41:before {
  content: "\ea27";
}
.icon-icon51:before {
  content: "\ea28";
}
.icon-icon6:before {
  content: "\ea29";
}
.icon-icon7:before {
  content: "\ea2a";
}
.icon-uniEA2B:before {
  content: "\ea2b";
}
.icon-uniEA2C:before {
  content: "\ea2c";
}
.icon-uniEA2D:before {
  content: "\ea2d";
}
.icon-uniEA2E:before {
  content: "\ea2e";
}
.icon-uniEA2F:before {
  content: "\ea2f";
}
.icon-uniEA30:before {
  content: "\ea30";
}
.icon-uniEA31:before {
  content: "\ea31";
}
.icon-uniEA32:before {
  content: "\ea32";
}
.icon-uniEA33:before {
  content: "\ea33";
}
.icon-uniEA34:before {
  content: "\ea34";
}
.icon-brand-brand:before {
  content: "\ea35";
}
.icon-category-active:before {
  content: "\ea36";
}
.icon-marca-active:before {
  content: "\ea37";
}
.icon-price-active:before {
  content: "\ea38";
}
.icon-filters-active:before {
  content: "\ea39";
}
.icon-specifications-active:before {
  content: "\ea3a";
}
.icon-review-active:before {
  content: "\ea3b";
}
.icon-service-active:before {
  content: "\ea3c";
}
.icon-description-active:before {
  content: "\ea3d";
}
.icon-mail-share:before {
  content: "\ea3e";
}
.icon-pinterest-share:before {
  content: "\ea3f";
}
.icon-whatsapp-share:before {
  content: "\ea40";
}
.icon-prezzocrescente:before {
  content: "\ea41";
}
.icon-prezzodecrescente:before {
  content: "\ea42";
}
.icon-rilevanza:before {
  content: "\ea43";
}
